In [16]:
import pandas as pd
import sqlalchemy
import warnings

from sqlalchemy import inspect, Table, Column, Integer, String, Date, ForeignKey

warnings.filterwarnings('ignore')

In [17]:
# MySQL setups
mysql_engine = sqlalchemy.create_engine('mysql+pymysql://codetest:swordfish@localhost:3306/codetest') # this is for jupyter -> dockerized mySQL
#mysql_engine = sqlalchemy.create_engine("mysql://codetest:swordfish@database/codetest")
conxn = mysql_engine.connect()

DB Schema

In [3]:
# Schema
# Drop
drop_meta = sqlalchemy.MetaData()
drop_meta.reflect(bind=mysql_engine)
drop_meta.drop_all(bind=mysql_engine)

#Create
metadata = sqlalchemy.MetaData()
metadata.reflect(bind=mysql_engine)

# Countries
countries = Table(
                'countries',
                metadata,
                Column('country_id', Integer, primary_key=True, autoincrement=True),
                Column('country_name', String(50), nullable=False),
            )

# Region = County, (county and country is too similiar so using a synonym)
regions = Table(
                'regions',
                metadata,
                Column('region_id', Integer, primary_key=True, autoincrement=True),
                Column('country_id', Integer, ForeignKey('countries.country_id'), nullable=False),
                Column('region_name', String(100), nullable=False),
            )

# Cities
cities = Table(
                'cities',
                metadata,
                Column('city_id', Integer, primary_key=True, autoincrement=True),
                Column('region_id', Integer, ForeignKey('regions.region_id'), nullable=False),
                Column('city_name', String(100), nullable=False),

            )

# People
people = Table(
                'people',
                metadata,
                Column('personal_id', Integer, primary_key=True, autoincrement=True),
                Column('given_name', String(100)),
                Column('family_name', String(100)),
                Column('date_of_birth', Date),
                Column('city_id', Integer, ForeignKey('cities.city_id'), nullable=False),
            )


# Dropping to get a clean Schema, then creating the tables
metadata.create_all(mysql_engine)

Data ingestion

In [4]:
# CSV Data in
ppl = pd.read_csv('data/people.csv')
places = pd.read_csv('data/places.csv')

Idea is to build from Countries -> Regions -> Cities then match the People and write with rerunability and backchecking current state

In [5]:
# Countries
# Getting unique countries to insert into the countries table
input_countries = pd.DataFrame({
                                #'country_id': '', # ID to check against existing in the db
                                'country_name': places['country'].unique().tolist(),
                            })

# --- this could be a func ---
# Check existing
existing_countries = pd.read_sql_table('countries', con=conxn,)
input_countries = input_countries.merge(existing_countries, how='left', on='country_name')

# Keep nonexistent
input_countries = input_countries[input_countries['country_id'].isna()]

# Input nonexistent if any
if not input_countries.empty:
    input_countries[['country_name']].to_sql('countries', con=conxn, if_exists='append', index=False)

In [6]:
# Regions
# Matching the regions to country_id from the countries table
input_regions = places[['country','county']].drop_duplicates()

# Renaming
input_regions.rename(columns={'country':'country_name', 'county':'region_name'}, inplace=True)

# Countries table fetch and merge
countries = pd.read_sql_table('countries', con=conxn,)
input_regions = input_regions.merge(countries, how='left', on=['country_name'])

# Check existing
existing_regions = pd.read_sql_table('regions', con=conxn,)
input_regions = input_regions.merge(existing_regions, how='left', on=['region_name', 'country_id'])

# Keep nonexistent
input_regions = input_regions[input_regions['region_id'].isna()]

# Input nonexistent if any
if not input_regions.empty:
    input_regions[['region_name', 'country_id']].to_sql('regions', con=conxn, if_exists='append', index=False)

In [7]:
# Cities
# Matching the cities to country_id from the countries table
input_cities = places[['county', 'city']].drop_duplicates()

# Renaming
input_cities.rename(columns={'county':'region_name', 'city':'city_name'}, inplace=True)

# Countries & Region table fetch and merge
regions = pd.read_sql_table('regions', con=conxn,)
input_cities = input_cities.merge(regions[['region_name', 'region_id']], how='left', on=['region_name'])

# Check existing
existing_cities = pd.read_sql_table('cities', con=conxn,)
input_cities = input_cities.merge(existing_cities, how='left', on=['city_name','region_id'])

# Keep nonexistent
input_cities = input_cities[input_cities['city_id'].isna()]

# Input nonexistent if any
if not input_cities.empty:
    input_cities[['city_id', 'region_id', 'city_name']].to_sql('cities', con=conxn, if_exists='append', index=False)

In [ ]:
# People
# Merging city_id from cities table to ppl
cities = pd.read_sql_table('cities', con=conxn)
input_ppl = ppl.merge(cities, how='left', left_on=['place_of_birth'], right_on=['city_name'])

# Gathering people born in cities not yet in the db
new_city = input_ppl[input_ppl['city_id'].isna()]

# Inseting all people not yet present in the db
existing_ppl = pd.read_sql_table('people', con=conxn,)
input_ppl = input_ppl.merge(existing_ppl, how='left', on=['given_name', 'family_name', 'date_of_birth', 'city_id'])

# Keep nonexistent
input_ppl = input_ppl[input_ppl['personal_id'].isna()]

# Input nonexistent if any
if not input_ppl.empty:
    input_ppl[['given_name', 'family_name', 'date_of_birth', 'city_id']].to_sql('people', con=conxn, if_exists='append', index=False)

Country - PPL summary to JSON

In [ ]:
import json

In [28]:
# Predefined query read into a df
with open('ppl_per_country.sql', 'r') as q:
    query = q.read()
ppl_per_country = pd.read_sql(query, con=conxn)

# Orient record into a dict &  Ouput into a JSON file
result = ppl_per_country.set_index('Country')['Population'].to_dict()
with open('data/summary_output.json', 'w') as f:
    json.dump(result, f)

In [5]:
inspector = inspect(mysql_engine)
print(inspector.get_table_names())

['cities', 'countries', 'people', 'regions']

In [13]:
citycheck = places.merge(places[['city', 'country']], how='left', on='city')
citycheck[citycheck['country_x'] != citycheck['country_y']]

Empty DataFrame
Columns: [city, county, country_x, country_y]
Index: []

In [15]:
len(ppl['place_of_birth'].unique().tolist())

114

In [19]:
len(places['city'].unique().tolist())

114